<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLust</title>
</head>
<body>
    <h3>Create a new listings</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title" required><br>
        <textarea name="listing[description]" placeholder="Description" required></textarea><br>
        <input type="text" name="image[url]" placeholder="Enter image URL"> <br>
         <input type="number" name="listing[price]" placeholder="Price" required><br>
        <input type="text" name="listing[location]" placeholder="Location" required><br>
        <input type="text" name="listing[country]" placeholder="Country" required><br>
        <button>Create Listing</button>
    </form>
</body>
</html>